.veille_grid_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* 4 colonnes de largeur égale */
    grid-template-rows: repeat(3, 1fr);
    /* 3 lignes de hauteur égale */
    gap: 50px;
    /* Espacement entre les éléments de la grille */
}

/* Style pour les éléments de la grille */
.veille_grid_item {
    background-color: #ccccccee;
    /* Bordure */
    padding: 55px;
    /* Espacement intérieur */
    text-align: center;
    /* Centrage du contenu */

    height: 110px;
    width: 110px;

    border-radius: 7px;
    border: none;
}

/* Style pour un élément spécifique 
.veille_grid_item:nth-child(odd) {
    background-color: #eee;
}
*/